<h1> Learn how to Play Poker like a Pro </h1>

<%= link_to "Learn More About Me", "https://phagmann.github.io/", :target => "_blank" %>
<br/>
<br/>

<%= link_to "Play Poker!", games_path %>


<div class="playingCards faceImages">
<div class="card rank-7 spades">
    <span class="rank">7</span>
    <span class="suit">&spades;</span>
</div>



<strong>
    <span class="card rank-a diams">
        <span class="rank">A</span>
        <span class="suit">&diams;</span>
    </span>
</strong>

<div class="card back">*</div>


</div>