<h1/> Texas Hold'em </h1>



<!-- <div class="element"> -->

<div class="playingCards faceImages">



    <div class="card rank-7 spades">
        <span class="rank">7</span>
        <span class="suit">&spades;</span>
    </div>




    <div class="card rank-a diams">
        <span class="rank">A</span>
        <span class="suit">&diams;</span>
    </div>

<div style="position:relative; left:500px; margin:0">
<ul class="deck">


 


 <li><div class="card back">*</div></li>
 <li><div class="card back">*</div></li>
 <li><div class="card back">*</div></li>
  <li><div class="card back">*</div></li>
 <li><div class="card back">*</div></li>
 <li><div class="card back">*</div></li>
  <li><div class="card back">*</div></li>
 <li><div class="card back">*</div></li>
 <li><div class="card back">*</div></li>


</ul>

</div>

</div>


<!-- </div> -->