<h1/> Texas Hold'em </h1>
<!-- ♠ ♥ ♦ ♣ -->
<!-- TODO: make a new.html/erb have the acutal game played on that. maybe a show.html.erb? -->
<!--  -->

<!-- <div class="element"> -->
<body>

<p>

<%= button_to("Deal Cards", new_game_path, method: :get, :style => "position:relative; left:410px;top:100px; margin:0;") %>

</p>

<div class="playingCards faceImages">


    <div class="card back">*</div>







<div style="position:relative; left:200px; margin:0;">

 <div class="circle">

<ul class="deck" style="position:relative; top:180px; left:350px;">



 <li><div id="1" class="card back">*</div></li>
 <li><div id="2" class="card back">*</div></li>
 <li><div id="3" class="card rank-7 spades">
        <span class="rank">7</span>
        <span class="suit">♠</span>
    </div></li>
 <li><div id="4" class="card back">*</div></li>
  <li><div id="5" class="card back">*</div></li>
  <li><div id="6" class="card rank-a diams">
        <span class="rank">A</span>
        <span class="suit">♦</span>
    </div></li>
  <li><div id="7" class="card back">*</div></li>
  <li><div id="8" class="card back">*</div></li>
 <li><div id="9" class="card back">*</div></li>
 <li><div class="card back">*</div></li>
  <li><div class="card back">*</div></li>
   <li><div class="card back">*</div></li>
    <li><div class="card back">*</div></li>
     <li><div class="card back">*</div></li>
      <li><div class="card back">*</div></li>
       <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>

    

</ul>
</div>

</div>

</div>

<br/>
<br/>

<br/>
</body>
<!-- </div> -->