// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle {
    position:relative;
    background: url(wood.jpeg);
    border-radius: 50%;
    width: 500px;
    height: 500px; 
    position:relative;

    /* width and height can be anything, as long as they're equal */
}
body {
  /*background: url(floor.jpg) repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 50em;

}

 #c {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #c1e0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: grey;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:10px;
  width: 500px;
}